body {
    font-family: roboto;
    background-color: #334055;
    color:#DDB386
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: #ffffff;
    background-color:#0A1A33;
}
ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.navbar-img {
    justify-content: flex-start;
    float: left;
    padding-left: 50px;
    padding-top: 11px;
}
.navbar ul {
    display: flex;
    text-align: center;
    font-size: 16px;
}
.navbar li {
    padding: 20px;
    margin: 0%;
}
.navbar a{
    text-decoration: none;
    color: aliceblue;
    display: block;
    text-align: center;
    font-family: 'roboto', sans-serif;
}
.navbar a:hover {
    color: #EED9C2;

}
.navbar-search {
    margin-left: 16px;
    justify-content: flex-end;
    background-color: #E8CCAE;
    border-radius: 30px;
    outline: 1px inline solid #C1C7CD;
    width: 25vw;
    height: 38px;
    padding-left: 15px;
}
.header {
    background-image: linear-gradient(#0C1D39, #21519F);
    margin: 0px;
    margin-right: 0%;
    color: white;
}
.header-item h1{
    font-size: 62px;
    margin-right: 0%;
}
.header-item h2{
    font-size: 38px;
    margin-top: 0%;
    margin-right: 0%;
}
.header-item p{
    font-size: 1.6em;
    margin-top: 0%;
    margin-right: 0%;
}

.btn-primary,
.btn-secondary {
    display: inline-block;
    padding: 10 25px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 30px;
}
    .btn-primary {
        background-color: #E8CCAE;
        border: 2px solid #E8CCAE;
        color: #0B1C36;
        margin-right: 15px;
        margin-left: 30px;
        margin-bottom: 80px;
      }
      
      .btn-primary:hover {
        background-color: transparent;
        border: 2px solid hsla(0, 0%, 100%, 0);
        color: #0B1C36;
        color: #E8CCAE;
      }


.header-grid{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header-item{
    padding: 26px;
}

.text-header{
    font-size: 20px;
    width:40vw;
    color: white;
}
.dugme-providno {
  color:#E8CCAE;
  background-color: transparent;
  border: 2px solid #E8CCAE;
  padding: 16px 25px !important;
  border-radius: 30px;
  text-decoration: none;
}
.dugme-puno{
  background-color: #E8CCAE;
  color: #21519F;
  border: 1px solid #E8CCAE;
  padding: 16px 25px !important;
  border-radius: 30px;
  text-decoration: none;
}

.dugme-header{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    width: 40vw;
    padding-left: 2em;
    padding-bottom: 3em;
}
.header-img{
    padding-top:10em;
}

.sekcija{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #0C1D39 20%, #21519F);
    padding-bottom: 4em;
}
.sekcija-cards{
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* border: 1px solid green; */

}
.sekcija-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 10vw;
    /* border: 1px solid red; */
}


.sekcija-item p{
    margin: 0;
}
.sekcija-item h3{
    margin: 0;
}

.sekcija-grid {
    display: flex;
    width: 16vw;
    height: 10vh;
    padding-left: 10px;
    margin-top: 20px;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
    color: #0A1A33;
    background-color: #E8CCAE;
    /* border: 1px solid yellow; */
    text-align: center;
    
}
.sekcija-slika{
    display: flex;
    justify-self: flex-end;
    height: 30px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    /* border: 1px solid yellow; */
}

.tekst-iznad-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tekst-iznad-cards p{
    width: 80vw;
}
.tekst-iznad-cards h2{
    font-size: 30px;
    font-family: Roboto;
}

.sekcijadva{
    display: flex;
    flex-direction: column;
}
.sekcijadva h1{
    color:#0A1A33;
    text-align: center;
    font-family: roboto;
    margin-bottom: 2em;
    margin-top: 2em;
}

.sekcijadva{
    color:#0A1A33
}
.sekcijadva-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
    height: 25vh;
}
.sekcijadva-grid{
    display: flex;
    align-content: space-between;
    justify-content: space-around;
    width: 80vw;
    height: 40vh;
}
.sekcijadva-content{
    display: flex;
    justify-content: center;
}
.sekcijadva{
    background-color: #E8CCAE;
    padding-bottom: 5em;
}
.dugme-sekcija-dva{
    position: absolute;
    right: 49%;
    padding: 15px 30px;
    background-color: #0A1A33;
    border-radius: 12px;
    color: #E8CCAE;
    box-shadow: 5px 3px 3px #0C1D39;

}